@import "colores";
@import "mixines";

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 226, 226) !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Header*/
.header{
    .header__section1{
        background-color: $hs1;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
            #divisotipo{
                justify-self: start;
                margin-left: 3%;
                    #isotipo{
                        width: 70px;
                }
        }
    }
    .header__section2{
        .colornavbar{
            background-color: $hs2;
        }
        .asd{
            ul li a:hover{
                background-color: orange;
            }
            .formw{
                width: 30%;
            }
        }
    }
}

/*Index*/
.maindex{
    display:flex;
    flex-direction: column;
    align-items: center;
        .main__section{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            background-color: whitesmoke;
            width: 70%;
            border-radius: 10px;
            margin-top: 2%;
            margin-bottom: 2%;
                .main__section__divh2{
                    margin-top:1%;
                        h2{
                            font-family: Jetbrains Mono, sans-serif;
                    }
            }
                .main__section__divproductos{
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin-top:2rem;
                    margin-bottom:2rem;
                        .main__section__divproductos__divtarjeta{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            box-shadow: 2px 2px 8px grey;
                                &:hover{
                                    transform: scale(1.2);
                                    transition-duration: 0.5s;
                                    transition-timing-function: ease;
                            }
                    }
                        .anim{
                            animation-name: rainbow;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                                @keyframes rainbow {
                                    0%{box-shadow:2px 2px 20px rgb(255, 0, 0);}
                                    20%{box-shadow:2px 2px 20px rgb(255, 179, 0);}
                                    40%{box-shadow:2px 2px 20px yellow;}
                                    60%{box-shadow:2px 2px 20px rgb(51, 255, 0);}
                                    80%{box-shadow:2px 2px 20px rgb(0, 255, 255);}
                                    100%{box-shadow:2px 2px 20px rgb(162, 0, 255);}
                                }
                        }
            }
                .main__section__vermas{
                    font-size:1rem;
                }
    }
}

/*Footer*/
footer{
    .row{
        width: 70%;
        margin:0 auto !important;
        padding-top:30px;
            .footer__section__div__qr{
                #qrtext{
                    color:white;
                    font-size: 1.3rem;
                }
            }
            .footer__nav{
                align-self: center;
                justify-content: center;
                    ul{
                        list-style: none;
                        margin-bottom: 50px;
                            li{
                                padding-top:25px;
                                    a{
                                        color:white;
                                        text-decoration: none;
                                        font-size: 1.3rem;
                                            &:hover{
                                                color:orange;
                                                transition-duration: 0.5s;
                                }
                        }
                    }
                }
          }
    }
    .footer__derechos {
        color:white;
        margin-top:10px;
        font-size: 0.7rem;
    }
}

/*Quienes Somos*/
.qs__main{
    display:flex;
    align-items: center;
    background-image: url(../multimedia/imgs/quienesomosfondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
        .qs__main__div1{
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
                img{
                    width: 75%;
                    height: 75%;
                    box-shadow: 1px 1px 15px 1px black;
                    margin-bottom: 20px;
                    margin-top: 20px;
            }
    }
        .qs__main__div2{
            display: flex;
            width: 40%;
            height: 50%;
            padding:1.5rem;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-size: 1.6rem;
            border:1px solid grey;
            border-radius: 1rem;
            background-color: rgba(0, 0, 0, 0.664);
            color:rgb(194, 194, 194);
            margin-bottom: 20px;
    }
}

/*Centro de Ayuda*/
.maincentro{
    .sectioncentro{
        display:flex;
        flex-flow:column wrap;
        padding:3rem;
            .sectioncentro__div__centro1{
                display:flex;
                flex-direction: column;
        }
            .sectioncentro__div__centro2{
                display:flex;
                flex-direction: row;
                margin-top:2rem;
                    .sectioncentro__div__centro3{
                        display:flex;
                        flex-direction: column;
                        width: 50%;
                            textarea{
                                height: 150px;
                                width: 70%;
                                border:2px solid grey;
                        }
                }
                    .sectioncentro__div__centro4{
                        @extend .sectioncentro__div__centro3;
                            .ticket{
                                text-decoration: none;
                                color: blue;
                        }
                }
        }
    }
}

/*Log In*/
.mainlogin {
    background-image: url(../multimedia/imgs/loginfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
        .mainlogin__section{
            background-color: rgba(0, 0, 0, 0.664);
            height: 25%;
            border-radius: 20px;
            padding:1rem;
            display:flex;
            flex-flow:column wrap;
            justify-content: center;
            margin-top: 12%;
            margin-bottom:12%;
            height: 300px;
                .mainlogin__section__div1{
                    color:rgb(194, 194, 194);
                    text-align: center;
                    margin-bottom: 15px;
            }
                .mainlogin__section__div2{
                    color:rgb(194, 194, 194);
                    display:flex;
                    justify-content: center;
                        #username{
                            background-color: rgb(51, 51, 51);
                    }
                        #password{
                            background-color: rgb(51, 51, 51);
                    }
            }
                .mainlogin__section__div3{
                    display:flex;
                    justify-content: center;
                    margin-bottom: 15px;
            }
                .mainlogin__section__div4{
                    color:rgb(194, 194, 194);
                    text-align: center;
                    font-size: larger;
            }
        
    }
}

/*Productos*/
.mainproductos{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
        .listaproductos{
            display: flex;
            flex-flow: row wrap;
            width: 70%;
            background-color: whitesmoke;
            border-radius: 20px;
            justify-content: space-around;
            align-items: center;
            padding: 30px;
                .cardb {
                    box-shadow: 1px 1px 5px grey !important;
                        .cardp {
                            display:flex;
                            flex-direction:column;
                            background-color: rgb(110, 110, 110);
                                a{
                                    text-decoration: none;
                                    color:rgb(255, 255, 255);
                                        &:hover{
                                            transition-duration: 0.5s;
                                            color:map-get($produ, hover)
                                        }
                                }
                                .aprecio{
                                text-decoration: none;
                                font-size: larger;
                                }
                    }
            }
    }
        .numerodepag{
            margin-top:30px;
    }
}

/*Registrate*/
.registermain{
    @include flexc;
    padding-left:2%;
    justify-content: center;
    align-items: center;
        .tittleregister{
            display:flex;
            flex-direction: column;
            border:1px solid black;
            padding:20px;
            font-size: small;
            margin-top:10px;
            border-radius: 20px;
            padding:10px;
            width:25%;
    }
        .registermain__sectionform{
            border:1px solid rgb(0, 0, 0);
            width:25%;
            padding:30px;
            font-size: larger;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 400px;
                .formulario{
                    .inputtexto1{
                        margin-bottom:10px;
                        border:1px solid black;
                        padding:5px;
                        border-radius: 15px;
                        font-size: small;
                        margin-top:10px;
                        width:100%;
                            #nombrereal{
                                width: 50%;
                        }
                            #apellidoreal{
                                width: 50%;
                        }
                            #fechanac{
                                width: 50%;
                        }
                    }
                    .inputradio{
                        margin-top:10px;
                        margin-bottom:10px;
                        border:1px solid rgb(99, 99, 99);
                        padding:5px;
                        border-radius: 15px;
                        font-size: small;
                        width:100%;
                    }
                    .inputtexto2{
                        padding:5px;
                        margin-top:10px;
                        border:1px solid black;
                        border-radius: 15px;
                        font-size: small;
                        margin-bottom:20px;
                        width:100%;
                            #email{
                                width: 50%;
                        }
                    }
                }
    }

}

.wbody{
    background-color: black !important;
    .wsection{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding:300px;
            .wdiv1{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                p{
                    color:white;
                    font-size: 2rem;
                }
            }
            .wdiv2{
                button{
                    width: 200px;
                    height: 100px;
                    font-size: 3rem;
                    background-color: orange;
                    border: 2px solid white;
                    border-radius: 20px 0px 20px 0px;
                    box-shadow:inset 0 0 0 0 red;
                    transition: ease-out 0.3s;
                    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        a{
                            text-decoration: none;
                            color: black;
                        }
                        &:hover{
                            box-shadow:inset 200px 0 0 0 red;
                            color:white;
                        }

                }

            }
        }
}

@media screen and (min-width:320px) and (max-width:767px){
    /*Index*/
    .maindex{
            .main__section{
                width: 95%;
                    .main__section__divproductos{
                        width: 100%;
                            .main__section__divproductos__divtarjeta{
                                width: 45%;
                                margin-bottom: 15px;
                        }
                }
        }
    }

    /*Quienes Somos*/
    .qs__main{
        flex-direction: column;
            .qs__main__div1{
                width: 100%;
                    img{
                        width: 75%;
                        height: 75%;
                        margin-bottom: 10px;
                        margin-top: 10px;
                }
        }
            .qs__main__div2{
                width: 75%;
                font-size: 1rem;
                margin-bottom: 10px;
        }
    }

    /*Centro de Ayuda*/
    .maincentro{
        .sectioncentro{
            padding:2rem;
                .sectioncentro__div__centro1{
                    flex-direction: column;
            }
                .sectioncentro__div__centro2{
                    flex-direction: column;
                    margin-top:1.5rem;
                        .sectioncentro__div__centro3{
                            flex-direction: column;
                            width: 100%;
                                textarea{
                                    width: 100%;
                            }
                    }
                        .sectioncentro__div__centro4{
                            margin-top: 1.5rem;
                        }
            }
        }
    }

    /*Productos*/
    .mainproductos{
        justify-content: space-around;
        padding: 0.5rem;
            .listaproductos{
                width: 92%;
                padding: 10px;
                    .cardb {
                        width: 45% !important;
                            .cardp {
                                padding: 10px;
                                    .aprecio{
                                    font-size: 1.5rem;
                                    }
                        }
                }
        }
    }

    /*Registrate*/
    .registermain{
            .tittleregister{
                width:90%;
             }
            .registermain__sectionform{
                width:90%;
             }
    }
 }


@media screen and (min-width:768px) and (max-width:1023px){
     /*Index*/
     .maindex{
        .main__section{
            width: 90%;
                .main__section__divproductos{
                    width: 90%;
                        .main__section__divproductos__divtarjeta{
                            width: 40%;
                            margin-bottom: 30px;
                        }
                }
        }
    }

    /*Quienes Somos*/
    .qs__main{
        flex-direction: column;
            .qs__main__div1{
                width: 50%;
            }
        .qs__main__div2{
            width: 90%;
            font-size: 1.1rem;
        }
    }

    /*Centro de Ayuda*/
    .maincentro{
        .sectioncentro{
            padding:2rem;
                .sectioncentro__div__centro1{
                    flex-direction: column;
            }
                .sectioncentro__div__centro2{
                    flex-direction: column;
                    margin-top:1.5rem;
                        .sectioncentro__div__centro3{
                            flex-direction: column;
                            width: 100%;
                                textarea{
                                    width: 60%;
                            }
                    }
                        .sectioncentro__div__centro4{
                            margin-top: 1.5rem;
                        }
            }
        }
    }

    /*Productos*/
    .mainproductos{
        justify-content: space-around;
        padding: 0.5rem;
            .listaproductos{
                width: 95%;
                padding: 10px;
                    .cardb {
                        width: 45% !important;
                            .cardp {
                                padding: 10px;
                                    .aprecio{
                                    font-size: 1.5rem;
                                    }
                        }
                }
        }
    }

    /*Registrate*/
    .registermain{
            .tittleregister{
                width:60%;
        }
            .registermain__sectionform{
                width:60%;
                    }
        }
}


@media screen and (min-width:1024px) and (max-width:1466px){
    /*Index*/
    .maindex{
        .main__section{
            width: 90%;
                .main__section__divproductos{
                    width: 100%;
                        .main__section__divproductos__divtarjeta{
                            width: 22%;
                            margin-bottom: 15px;
                    }
            }
    }
}

    /*Quienes Somos*/
    .qs__main{
        flex-direction: row;
            .qs__main__div1{
                width: 50%;
                    img{
                        width: 70%;
                        height: 70%;
                        margin-bottom: 10px;
                        margin-top: 10px;
                }
        }
            .qs__main__div2{
                width: 50%;
                font-size: 1rem;
                margin-bottom: 10px;
                margin-right: 15px;
        }
    }

    /*Centro de Ayuda*/
    .maincentro{
        .sectioncentro{
            padding:2rem;
                .sectioncentro__div__centro1{
                    flex-direction: column;
            }
                .sectioncentro__div__centro2{
                    flex-direction: column;
                    margin-top:1.5rem;
                        .sectioncentro__div__centro3{
                            flex-direction: column;
                            width: 100%;
                                textarea{
                                    width: 50%;
                            }
                    }
                        .sectioncentro__div__centro4{
                            margin-top: 1.5rem;
                        }
            }
        }
    }

    /*Productos*/
    .mainproductos{
        justify-content: space-around;
        padding: 0.5rem;
            .filtroproductos{
                width: 95%;
                margin-bottom: 15px;
        }
            .listaproductos{
                width: 95%;
                padding: 10px;
                    .cardb {
                        width: 22% !important;
                            .cardp {
                                padding: 10px;
                                    .aprecio{
                                    font-size: 1.5rem;
                                    }
                        }
                }
        }
    }

/*Registrate*/
    .registermain{
        .tittleregister{
            width:40%;
            }
        .registermain__sectionform{
            width:40%;
            }
    }
}